 <!DOCTYPE html>
<html lang="en">
<!-- lang="en" กำหนดภาษาหลักเว็บ -->
<head>
	<meta charset="UTF-8">
	<!-- meta = กำหนดรายละเอียดเล็กๆน้อยๆ
	ใช้ utf-8 เพื่ออ่านฟ้อนไทย -->
	<title>CMM19</title>
	<!-- link rel href โหลดcssมาใช้กับเว็บเรา ด้านfontend (Bulmaเป็นเว็บช่วยดีไซโค้ดมันจะเป็นcss)-->
	<link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
	<link rel="stylesheet" href= "/assets/home.css">
</head>
<body>
	<header>
		<div class ="has-text-centered">
			<img Src="/assets/images/logo.png" alt="" width="145" height="auto">
		</div>
		
		<nav class="navbar-tabs">
			<a hraf="#" class ="navbar-item">HOME</a>
			<a hraf="#" class ="navbar-item">News</a>
			<a hraf="#" class ="navbar-item">Reviews</a>
			<a hraf="#" class ="navbar-item">Log in</a>
			<a hraf="#" class ="navbar-item">About</a>
			<a hraf="#" class ="navbar-item">Tonpalm</a>
			<a hraf="#" class ="navbar-item">Love</a>
			<a hraf="#" class ="navbar-item">TP</a>
		</nav>
		
		</header>
<!-- <h1 class="has-text-centered"> สวัสดีจ้า </h1> -->
		<main>
			<section class ="banner" ><!-- มี12คอลัมตามทั่วๆไปของbulma-->
				<div class ="highlight">
					<div class ="columns">
						<div class ="column highlight-item">
							<h1> Too EZ </h1>
						</div>
					</div>
				</div>
				<div class ="thumbnail">
					<div class ="columns is-marginless"> <!-- ลบขอบของmargin -->
						<div class ="column thumbnail-item is-paddingless"
						style="background-image: url(/assets/images/home/banner/thumbnail-1.jpg); ">
							Ton
						</div>

						<div class ="column thumbnail-item is-paddingless"
						style="background-image: url(/assets/images/home/banner/thumbnail-2.jpg); ">
							Palm
						</div>

						<div class ="column thumbnail-item is-paddingless"
						style="background-image: url(/assets/images/home/banner/thumbnail-3.jpg); ">
							Love
						</div>

						<div class ="column thumbnail-item is-paddingless"
						style="background-image: url(/assets/images/home/banner/thumbnail-4.jpg); ">
							TP
						</div>

						<div class ="column thumbnail-item is-paddingless"
						style="background-image: url(/assets/images/home/banner/thumbnail-5.jpg); ">
							Na
						</div>
					</div>

			</section>

			<section class="section we-present">
				<div class="container">
					<div class="columns">
						<div class="column has-text-left">
							<a href="#"> Lastet </a>
						</div>
						<div class="column has-text-centered">
							We Present
						</div>
						<div class="column has-text-right">
							<a href="#"> Search </a>
						</div>
					</div>

					<div class="columns is-multiline">
						<a href="#" class="column is-one-third">
							<div class="card">
								<div class="card-images">
									<figure class="images is-3by2"> <!-- ขนาดรูป 2ใน3-->
										<img src="assets/images/home/we-preset/img-1.jpg" alt="images-1">
									</figure>
								</div>
								<div class="card-content">
									<h5 class="category">Pubilc Space</h5>
									<h3 class="title is spaced is-4">Hard</h3>
									<h4 class="subtitle is-6"> Hooo </h4>
									<p>
										"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
									</p>
								</div>
							</div>
						</a>

						<a href="#" class="column is-one-third">
							<div class="card">
								<div class="card-images">
									<figure class="images is-3by2"> <!-- ขนาดรูป 2ใน3-->
										<img src="assets/images/home/we-preset/img-2.jpg" alt="images-1">
									</figure>
								</div>
								<div class="card-content">
									<h5 class="category">Pubilc Space</h5>
									<h3 class="title is spaced is-4">LoremIpsum</h3>
									<h4 class="subtitle is-6"> EZ </h4>
									<p>
										"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga."
									</p>
								</div>
							</div>
						</a>

						<a href="#" class="column is-one-third">
							<div class="card">
								<div class="card-images">
									<figure class="images is-3by2"> <!-- ขนาดรูป 2ใน3-->
										<img src="assets/images/home/we-preset/img-3.jpg" alt="images-1">
									</figure>
								</div>
								<div class="card-content">
									<h5 class="category">Pubilc Space</h5>
									<h3 class="title is spaced is-4">LoremIpsum</h3>
									<h4 class="subtitle is-6"> Ammmm </h4>
									<p>
										"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish.
									</p>
								</div>
							</div>
						</a>

						<a href="#" class="column is-one-third">
							<div class="card">
								<div class="card-images">
									<figure class="images is-3by2"> <!-- ขนาดรูป 2ใน3-->
										<img src="assets/images/home/we-preset/img-4.jpg" alt="images-1">
									</figure>
								</div>
								<div class="card-content">
									<h5 class="category">Pubilc Space</h5>
									<h3 class="title is spaced is-4">LoremIpsum</h3>
									<h4 class="subtitle is-6"> hmmmm </h4>
									<p>
										"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful."
									</p>
								</div>
							</div>
						</a>

						<a href="#" class="column is-one-third">
							<div class="card">
								<div class="card-images">
									<figure class="images is-3by2"> <!-- ขนาดรูป 2ใน3-->
										<img src="assets/images/home/we-preset/img-5.jpg" alt="images-1">
									</figure>
								</div>
								<div class="card-content">
									<h5 class="category">Pubilc Space</h5>
									<h3 class="title is spaced is-4">LoremIpsum</h3>
									<h4 class="subtitle is-6"> Hard </h4>
									<p>
										"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish.
									</p>
								</div>
							</div>
						</a>

						<a href="#" class="column is-one-third">
							<div class="card">
								<div class="card-images">
									<figure class="images is-3by2"> <!-- ขนาดรูป 2ใน3-->
										<img src="assets/images/home/we-preset/img-6.jpg" alt="images-1">
									</figure>
								</div>
								<div class="card-content">
									<h5 class="category">Pubilc Space</h5>
									<h3 class="title is spaced is-4">LoremIpsum</h3>
									<h4 class="subtitle is-6"> Medium </h4>
									<p>
										"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo."
									</p>
								</div>
							</div>
						</a>


					</div>
				</div>
			</section>
		</main>
</body>
</html>

<!-- cmd -->
<!-- cd = change directory เปลี่ยนปลายทาง command promt -->
<!-- d: = เปลี่ยนเป็นไดร์ฟdก่อน -->
<!-- dir = click Folder -->
<!-- การจำลองเซิฟเวอร์ในcmd C:\Users\tonpalm\Desktop\Lab\lab-1>python -m http.server 8000 เป็นpythonเวอร์ชั่น3.-->
<!--header .navbar-tabs -->
<!-- ไปหาnavbar-tabs ที่อยู่ภายใต้header -->
<!-- {
  justify-content: center; -->
<!-- justify-contentเป็นฟังก์ชั่นต่างๆ -->
<!-- ! important; ทำให้มันสำคัญมากๆๆๆๆ -->