<header>
		<div class ="has-text-centered">
			<img Src="/assets/images/logo.png" alt="" width="145" height="auto">
		</div>
		
		<nav class="navbar-tabs">
			<a hraf="#" class ="navbar-item">HOME</a>
			<a hraf="#" class ="navbar-item">News</a>
			<a hraf="#" class ="navbar-item">Reviews</a>
			<a hraf="#" class ="navbar-item">Log in</a>
			<a hraf="#" class ="navbar-item">About</a>
			<a hraf="#" class ="navbar-item">Tonpalm</a>
			<a hraf="#" class ="navbar-item">Love</a>
			<a hraf="#" class ="navbar-item">TP</a>
		</nav>
		
</header>